.container {
  font-weight: 100;
  color: rgb(255, 255, 255);
  margin-top: 5vh;
}
h2 {
  padding: 2vh;
  margin: 0;
}
h3 {
  margin: 0;
}
a {
  padding-bottom: 2vh;
  font-size: (calc(0.8vw + 0.8vh), 10px);
}
.title {
  font-weight: 250;
}
.phone {
  padding: 2vh;
}
.errorMessage {
  font-size: max(calc(0.8vw + 0.8vh), 10px);
  font-weight: 150;
  padding: max(calc(0.1vw + 0.1vh), 4px);
}
.label {
  font-size: max(calc(0.8vw + 0.8vh), 10px);
  font-weight: 150;
  padding: max(calc(0.1vw + 0.1vh), 4px);
}
input,
textarea {
  all: unset;
  color: white;
  font-size: max(calc(0.8vw + 0.8vh), 10px);
  font-weight: 150;
  padding: max(calc(0.1vw + 0.1vh), 4px);
  border-radius: 1vh;
  background-color: rgba(255, 255, 255, 0.076);
  text-align: center;
  padding: 0.5em;
}
input::placeholder,
textarea::placeholder {
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: max(calc(0.8vw + 0.8vh), 16px);
}
.message {
  width: 40vw;
}
p {
  color: rgb(185, 69, 69);
  margin: 0;
}
.blur {
  border-radius: 1vh;
}
.field {
  padding: max(calc(0.1vw + 0.1vh), 4px);
}
.button-div {
  padding: 2vh;
}
button {
  background-color: rgba(255, 255, 255, 0.076);
  transition: background-color 0.2s cubic-bezier(0.2, 0, 0.2, 1);
  color: white;
}
button:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(240, 248, 255, 0.174);
}
button:focus {
  outline: none !important;
  box-shadow: none;
}
.telephone-icon {
  width: 1em;
}
.telephone {
  text-decoration: none;
  font-size: max(calc(1vw + 1vh), 20px);
  font-size: min(calc(1.5vw + 1.5vh), 25px);
  font-weight: 300;
  color: rgb(255, 255, 255);
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #adffc3, 0 0 20px #adffc3,
      0 0 25px #adffc3;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #adffc3,
      0 0 40px #adffc3, 0 0 50px #adffc3;
  }
}
