<nav class="box vertical-center">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <ul class="nav justify-content-nav align-items-center">
          <li class="nav-link text-secondary">
            <a class="hidden-m telephone d-inline" href="tel:+48572943942">
              <img
                class="telephone-icon"
                src="/assets/telephone-icon.png"
                alt=""
            /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary d-inline" routerLink="/home"
              >O nas</a
            >
            <a class="nav-link text-secondary d-inline" routerLink="/offer"
              >Usługi</a
            >
            <a class="nav-link text-secondary d-inline" routerLink="/portfolio"
              >Projekty</a
            >
            <a class="nav-link text-secondary d-inline" routerLink="/contact"
              >Kontakt</a
            >
          </li>
          <li class="nav-link text-secondary hidden-s">
            <a
              class=""
              href="https://www.facebook.com/profile.php?id=61556696234126"
              target="_blank"
              ><img class="icon" src="/assets/facebook.png"
            /></a>
            <a
              class=""
              href="https://www.youtube.com/@Wysokicel"
              target="_blank"
              ><img class="icon" src="/assets/youtube.png"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
