<div class="container-fluid advertise box">
  <div class="container p-2">
    <div class="row p-2">
      <div class="col m-0 p-0 text-center">
        <h1 class="m-0 p-0">Przetestuj nasze usługi za darmo</h1>
      </div>
    </div>
    <div class="row">
      <div class="col text-center mb-auto mt-auto">
        <p class="p-2">
          Wyczyścimy dla Ciebie wybrany fragment powierzchni, aby
          zaprerezentować efektywność Naszych usług. Umówmy Naszą wizytę w
          dogodnym dla Ciebie terminie.
        </p>
      </div>
      <div class="col text-center mb-auto mt-auto">
        <h2>
          <a
            class="telephone nav-link text-secondary d-inline"
            href="tel:+48572943942"
          >
            <img
              class="telephone-icon"
              src="/assets/telephone-icon.png"
              alt=""
            />
            <p class="telephone-number">572 943 942</p></a
          >
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="container box">
  <div class="row">
    <div class="col-lg p-2">
      <app-accordion>
        <app-accordion-item title="Mycie budynków"
          >Mycie elewacji budynków jest nie tylko kwestią estetyki, ale również
          wpływa na trwałość elewacji.</app-accordion-item
        >
        <app-accordion-item title="Odgrzybianie"
          >Usługa odgrzybiania polega na usuwaniu pleśni oraz grzybów z różnych
          powierzchni wewnątrz budynków, takich jak ściany, sufity, podłogi, czy
          nawet meble. Nasi klienci korzystają z tej usługi z kilku powodów:
          <br /><br />1. Zdrowie i bezpieczeństwo: Pleśń i grzyby mogą powodować
          problemy zdrowotne, takie jak alergie, problemy z oddychaniem czy
          infekcje skórne. Usuwanie grzybów pomaga zapobiegać tym problemom i
          tworzy zdrowsze środowisko życia. <br />2. Ochrona mienia: Grzyby mogą
          powodować trwałe uszkodzenia materiałów budowlanych, mebli oraz
          wyposażenia. Usługa odgrzybiania pomaga w utrzymaniu trwałości
          strukturalnej budynku i zapobiega dalszym uszkodzeniom. <br />3.
          Estetyka: Pleśń i grzyby nie tylko są szkodliwe dla zdrowia i
          struktury budynku, ale także są nieestetyczne. Usunięcie ich poprawia
          wygląd wnętrza i podnosi wartość nieruchomości. <br />4. Zapobieganie
          nawrotom: Profesjonalne odgrzybianie nie tylko usuwa istniejącą pleśń,
          ale także zapobiega jej powrotom poprzez zidentyfikowanie i usunięcie
          przyczyn wilgoci i kondensacji. <br />Korzystając z usługi
          odgrzybiania, ludzie mogą cieszyć się czystym, zdrowym i bezpiecznym
          środowiskiem życia oraz zachować wartość swojego
          mienia.</app-accordion-item
        >
        <app-accordion-item title="Mycie dachów"
          >Mycie dachów jest niezbędnym elementem w pielęgnacji domu,
          zapewniając czystość i odpowiednie odprowadzanie wód
          opadowych.</app-accordion-item
        >
        <app-accordion-item title="Mycie kostki brukowej"
          >Mycie kostki brukowej jest niezbędnym elementem jej pielęgnacji,
          ponieważ pozwala usunąć zabrudzenia, mchy i algi.</app-accordion-item
        >
        <app-accordion-item title="Czyszczenie pomników"
          >Czyszczenie pomników to nie tylko poprawa estetyki, ale także
          inwestycja w zachowanie dziedzictwa kulturowego oraz budowanie
          pozytywnego wizerunku społeczności. Pomniki, odnowione i zadbane,
          stanowią dumę miasta i przypominają o jego historii oraz wartościach,
          przyciągając zarówno turystów, jak i lokalnych
          mieszkańców.</app-accordion-item
        >
        <app-accordion-item title="Mycie kamienic"
          >Zadbane elewacje kamienic stanowią wizytówkę każdej okolicy -
          przyciągają uwagę przechodniów i potencjalnych mieszkańców. Znacząco
          podnoszą wartość nieruchomości. Czyszczenie elewacji poprawia też
          estetykę miasta oraz trwałość budynków. Decydując się na tę usługę
          poprawiasz jakość życia mieszkańców i pielęgnujesz historyczny
          charakter dzielnicy.
        </app-accordion-item>
        <app-accordion-item title="Czyszczenie betonów"
          >Czyszczenie betonów jest niezbędnym procesem w utrzymaniu estetyki i
          trwałości powierzchni betonowych. Dokładne oczyszczenie powierzchni z
          zabrudzeń wydłuża ich trwałość i przywraca pierwotny
          wygląd.</app-accordion-item
        >
        <app-accordion-item title="Usuwanie zanieczyszczeń"
          >Bywa tak, że mamy do wyczyszczenia powierzchnię nietypową. Na
          przykład drzwi garażowe, panele słoneczne czy billboard. Każda
          powierzchnia zasługuje na odzyskanie swojego blasku i odpowiednią
          konserwację - a My jako doświadczony zespół jesteśmy gotowi dopasować
          się do potrzeb klienta.
        </app-accordion-item>
        <app-accordion-item title="Wykonywanie impregnacji powierzchni"
          >Wykonywanie impregnacji powierzchni jest bardzo skutecznym
          rozwiązaniem dla konserwacji i ochrony materiałów budowlanych przed
          zanieczyszczeniami atmosferycznymi.</app-accordion-item
        >
      </app-accordion>
    </div>
  </div>
</div>
