<div class="container">
  <div class="row">
    <div class="col-lg">
      <div class="text-center blur p-2 box">
        <h2 class="border-bottom">O Nas</h2>
        <p>
          Nasza firma powstała z pasji do dbania o czystość i estetykę
          otoczenia. Specjalizujemy się w kompleksowym myciu elewacji, dachów,
          kostki brukowej oraz innych powierzchni zewnętrznych. Posiadamy
          wieloletnie doświadczenie w branży, dzięki czemu możemy zagwarantować
          profesjonalną i rzetelną realizację zleceń. Nasza oferta skierowana
          jest zarówno do klientów indywidualnych, jak i firm oraz instytucji.
        </p>
      </div>
    </div>
    <div class="col-lg d-flex flex-column">
      <div class="text-center mb-auto mt-auto blur shadow box p-2">
        <h2 class="border-bottom">Dla kogo pracujemy?</h2>
        <p>
          Nasza oferta skierowana jest do klientów indywidualnych, firm<br />
          oraz instytucji.
        </p>
        <p>
          <button routerLink="/portfolio">Nasze realizacje</button>
        </p>
      </div>
    </div>
  </div>
</div>
